<aside class="resources-card" aria-labelledby="graduate-resources-title">
  <h2 id="graduate-resources-title">Graduate Resources</h2>
  <ul>
    <li><a href="#">Graduate accommodation guidance</a></li>
    <li><a href="#">Documentation requirements</a></li>
    <li><a href="#">Request process overview</a></li>
    <li><a href="#">Faculty communication guidance</a></li>
    <li><a href="#">Testing accommodation information</a></li>
    <li><a href="#">Graduate student support services</a></li>
  </ul>
</aside>